nav {
  display: block; /* Ensure the nav element is displayed as a block */
  margin-top: 15px;
  margin-bottom: 15px; /* Adjust the space as needed */
}

/* CSS code for a styled header */
.header {
    background-color: #b2d1ac; /* Background color of the header */
    color: rgb(255, 255, 255);             /* Text color of the header */
    padding: 3px;            /* Padding inside the header */
    text-align: center;       /* Centering the text inside the header */
    font-size: 18px;          /* Font size of the header text */
    margin: 0;                /* No margin around the header */
    border-bottom: 2px solid #3e8e41; /* Optional: Add a bottom border to the header */
}

.header2 {
  background-color: #aeb26d; /* Background color of the header */
  color: rgb(3, 3, 3);             /* Text color of the header */
  padding: 3px;            /* Padding inside the header */
  text-align: center;       /* Centering the text inside the header */
  font-size: 18px;          /* Font size of the header text */
  margin: 0;                /* No margin around the header */
  border-bottom: 2px solid #3e8e41; /* Optional: Add a bottom border to the header */
}

/* Additional styling for the header title */
.header h1 {
    margin: 0;                /* No margin for the header title */
    font-family: 'Times New Roman', Times, serif; /* Font family of the header title */
}

/* CSS for centering text */ 
.center { text-align: center; /* Center text horizontally */ 
         margin:auto; /*Center div itself */
         padding-left: 30px; /* Add space on the left */
         padding-right: 30px;  
         width : 95% /*adjust as needed*/
} 

/* CSS for the container with blue background and centered content */ 
.container { 
  display: flex; 
  justify-content: center; 
  padding: 40px; /* Add some padding for spacing */ 
} 

/* CSS for individual boxes within the container */ 
.box {
  width: 15%; /* Adjust as needed */ 
  text-align: center;   /* Center text horizontally */
  padding: 0px;   /* Add padding inside each box */ 
  border: 1px solid rgb(130, 181, 212); /* Blue border for better visibility */ 
  margin: 0 5px; /* Add some margin between boxes */ 
  background-color: rgb(210, 227, 241);   /* Blue background */ 
  word-wrap: break-word; /* Ensure long words break and stay within the box */ 
  overflow-wrap: break-word; /* Ensure long words break and stay within the box */ 
  box-sizing: border-box; /*  Include padding and border in the element's total width and height  */
  border-radius: 25px;
} 

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

/* CSS for the profile container */ 
.profile-container { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 20px;
  padding: 20px;
  margin-left:20px
}

.profile-description {
  flex: 1;
  padding-right: 20px;
  font-size: 18px;
}

.profile-box {
  flex: 1;
  /* padding-right: 20px; */
  /* width: 20%; Adjust as needed  */
  text-align: center;   /* Center text horizontally */
  padding: 3px;   /* Add padding inside each box */ 
  border: 1px solid rgb(120, 145, 241); /* Blue border for better visibility */ 
  margin: 0 10px; /* Add some margin between boxes */ 
  background-color: rgb(255, 255, 255);   /* Blue background */ 
  word-wrap: break-word; /* Ensure long words break and stay within the box */ 
  overflow-wrap: break-word; /* Ensure long words break and stay within the box */ 
  box-sizing: border-box; /*  Include padding and border in the element's total width and height  */
  border-radius: 30px;
}

.profile-picture {
  /* display: flex; */
  justify-content: center; 
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto; /* Centering the image horizontally */
  border-radius: 30%;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.circularImage {
   border-radius: 50%;
}

/* CSS for centering text of the publications cited */ 
.center_left { text-align: left; /* Center text horizontally */ 
  /*margin: 0 auto; /*Center div itself */
  padding-left: 30px; /* Add space on the left */
  padding-right: 30px;  
  width : 85% /*adjust as needed*/
} 

 .listed-element { /*for elements listed in the publications or projects pages */
  margin-top: 14px;
  margin-bottom: 6px; /* Adjust the value as needed */
  font-size: 16px;
  text-align: left;
} 

/* Styles for tablets */
@media (max-width: 768px) {
   .box {
    flex: 1 1 45%;
    width: 100%; /* Make boxes take full width */ 
    margin: 10px 0; /* Vertical margin between boxes */
  }
  .container {
    flex-direction: column;
  }
} 
/* Styles for mobile phones */ 
@media (max-width: 480px) {
  .box {
    flex: 1 1 100%;
    width: 100%; /* Make boxes take full width */ 
    margin: 10px 0; /* Vertical margin between boxes */
  }
  .container {
    flex-direction: column;
  }
}

footer {
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
  padding: 20px; 
  background-color: #bcdebd; /* Optional: Add a background color to the footer */ 
} 

.footer_with_background {
  position: relative;
  color: white;
  display: flex; 
  justify-content: center; 
  font-size: 20px;
  /* margin-top: 20px;  */
  padding: 250px; 
  overflow: hidden;
} 

.footer_with_background::before {
content: '';
position:absolute;
top: 0;
left:0;
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
opacity: 0.5;/*adjust transparency as needed. full opacity=1*/
z-index: -1;
}

.footer_with_background.bg1::before {
  background-image: url('field of maize and soybean in DRCongo.jpg');
}

.footer_with_background.bg2::before {
  background-image: url('workshop_with_smallfarmers_in_Kalehe.jpg');
}

.footer_with_background.bg3::before {
  background-image: url('field of maize and soybean in DRCongo.jpg');
}

.social-links { 
  display: flex; 
  justify-content: center; 
  gap: 40px; 

} 

.social-links a { 
  display: flex; 
  align-items: center; 
  text-decoration: none; 
  color: #7ca33d; /* Default link color */ 
} 

.social-links img { 
  margin-right: 5px; 
}
