body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.profile-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center;
  padding: 20px;
}

.profile-description {
  flex: 1;
  padding-right: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: 150px; /* Adjust to center it closer to the right */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
